
<head>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
</head>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-column brand">
      <img src="assets/logo.webp" alt="Cadence Logo" class="logo" />
      <p>
        Explore the enchanting world of candles and learn how to create
        captivating ambiance in your home with our beginner–friendly guide.
      </p>
      <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fas fa-camera-retro"></i>
      </div>
    </div>

    <div class="footer-column">
      <h3>Information</h3>
      <ul>
        <li>Search</li>
        <li>All Collections</li>
        <li>All Products</li>
        <li>My Cart</li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Useful Links</h3>
      <ul>
        <li>Ceramic Candle</li>
        <li>Geometric Candles</li>
        <li>Glass Candles</li>
        <li>Jar Candle</li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>About Us</h3>
      <ul>
        <li>About Us</li>
        <li>Contact</li>
        <li>FAQ’s</li>
        <li>Privacy Policy</li>
        <li>Shipping & Return</li>
        <li>Terms & Condition</li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Contact Us</h3>
      <p><i class="fas fa-map-marker-alt"></i> No: Avenue Habib-Bourguiba, 8000 Nabeul, Tunisie</p>
      <p><i class="fas fa-phone-alt"></i> (+216) 72 285 555</p>
      <p><i class="fas fa-envelope"></i> hello&#64;cadence.com</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025, Cadence WorkDo, Powered by WorkDo.io</p>
    <div class="payment-icons">
      <img src="assets/payments/visa.png" />
      <img src="assets/payments/mastercard.png" />
      <img src="assets/payments/amex.png" />
      <img src="assets/payments/paypal.png" />
      <img src="assets/payments/discover.png" />
    </div>
  </div>
  
  