
  <h1>Wishlist (3)</h1>
  <table class="wishlist-table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Details</th>
        <th>Cart Button</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="//cadence-workdo.myshopify.com/cdn/shop/files/1_1f1d0bf0-98da-4305-bc29-b6ebbe3b8750.png?v=1717581101" loading="lazy"></td>
        <td>
          <div class="brand">Paradise</div>
          <div class="name">Soy Off–White Swirl Candle</div>
          <div class="price">$15.00</div>
        </td>
        <td><button class="add-btn">Add to Cart</button></td>
        <td><span class="delete-icon"  >🗑️</span></td>
      </tr>
      
      <tr>
        <td><img src="//cadence-workdo.myshopify.com/cdn/shop/files/1_36017698-fa16-412f-b71b-c0629dec8f1c.png?v=1717583300" loading="lazy"></td>
        <td>
          <div class="brand">Glowing</div>
          <div class="name">Vanilla Soy Candle</div>
          <div class="price">$20.00 <span class="old-price">$25.00</span></div>
        </td>
        <td><button class="sold-out-btn">Sold out</button></td>
        <td><span class="delete-icon">🗑️</span></td>
      </tr>
     
      <tr>
        <td><img src="//cadence-workdo.myshopify.com/cdn/shop/files/1_92ff487b-7102-4a5e-baf5-c79241100b89.png?v=1717583166" loading="lazy"></td>
        <td>
          <div class="brand">Glowing</div>
          <div class="name">Rose Candle Peony</div>
        </td>
        <td><button class="add-btn">Add to Cart</button></td>
        <td><span class="delete-icon">🗑️</span></td>
      </tr>
    </tbody>
  </table>

