
<div class="about-container">
    <div class="text-content">
      <h2>About Us</h2>
      <p>Crafting Moments of Magic: The Candens Story</p>
      <p>
        At Candens, we believe in the transformative power of candles to elevate everyday moments into extraordinary experiences. Our passion for crafting high-quality candles with meticulous attention to detail stems from a deep appreciation for the art of scent and ambiance. With a commitment to sustainability and ethically sourced ingredients, we strive to create products that not only delight the senses but also respect the environment and the communities we serve.
      </p>
    </div>

    <div class="image-content">
        <img src="//cadence-workdo.myshopify.com/cdn/shop/files/about-image-1.png?v=1717739599" alt="about-image" loading="lazy">
        <img src="//cadence-workdo.myshopify.com/cdn/shop/files/candle-image.png?v=1717739597" class="candle-image" alt="candle-image" loading="lazy"> /*background
    </div>
  </div>


