<section class="common-banner-sec" style="background-image:url(//cadence-workdo.myshopify.com/cdn/shop/files/common-banner.png?v=1717741810);margin-bottom: 60px;">
    <div class="containerr">
      <div class="common-banner-content text-center">
  
        <div class="section-title">
          <div class="subtitle" style="color: white; font-size: 18px;">Collections</div>
        </div>
  
        <div class="breadcrumbs">
          <ul class="filter-cat flex align-center justify-center">
            <li>
              <a  [routerLink]="['']" style="color: white; text-decoration:none;">Home</a>
              <span style="margin: 0 13px;">></span>
              <a style="color: white; text-decoration:none;">Collections</a>
            </li>
          </ul>
        </div>
  
      </div>
    </div>
  </section>
  


<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="collection-card">
                <div class="collection-card-image">
                    <a href="/collections/all-product" class="collection-image" tabindex="0">
                        <img src="//cadence-workdo.myshopify.com/cdn/shop/files/1.png?v=1717577753" alt="All Product" loading="lazy">
                    </a>
                </div>
                <div class="collection-content">
                    <a [routerLink]="['/list-article', 'all']" class="btn" tabindex="0">All Products</a>
                 </div>
            </div>
        </div>

        <div class="col-3" *ngFor="let categorie of categories">
            <div class="collection-card">
                <div class="collection-card-image">
                    <a  class="collection-image" tabindex="0">
                    <img src="{{ categorie.image }}" alt="ceramic candle" loading="lazy">
                      </a>
                </div>
                <div class="collection-content">
                    <a [routerLink]="['/list-article', categorie.id]" class="btn" tabindex="0">{{ categorie.label}}</a>
                 </div>
            </div>
        </div>
        
    </div>
</div>