<div class="container-fluid text-center" style="padding-top: 70px;padding-bottom: 70px; margin: 0px;">
<div class="row" style="padding: 0 15px;">
    <div class="col-4" style="padding-right:7.5px;padding-left: 0px;">
        <div class="image" style="padding: 0;">
            <img class="img" src="//cadence-workdo.myshopify.com/cdn/shop/files/category-1.png?v=1717673813" alt="zoom effect" loading="lazy">
            <!-- bouton -->
            <div class="category-btn">
                <a href="/collections/jar-candle" class="btn btn-white">
                      Jar Candle      
                </a>
            </div>
        </div>
    </div>

    <!-- deuxieme colonne -->
    <div class="col-4" style="padding-left: 7.5px;padding-right: 7.5px;">
        <div style="height: 30%;">
            <div style="padding: 25px;">
                <div  style="margin-bottom: 0;text-align: center;">
                    <div class="subtitle">Top Categories</div>
                    <h2>Signature Scent Selections</h2>
                </div>
            </div>
        </div>
        <div class="image" style="height: 70%;">
            <img class="img" src="//cadence-workdo.myshopify.com/cdn/shop/files/category-2.png?v=1717673813" alt="zoom effect" loading="lazy">
            <!-- bouton -->
            <div class="category-btn">
                <a href="/collections/jar-candle" class="btn btn-white">
                      Glass Candle     
                </a>
            </div>
        </div>
        
    </div>

     <!-- troisième colonne -->
    <div class="col-4" style="padding-left:7.5px;padding-right: 0px;" >
        <div class="image" style="height: 50%;padding-bottom: 7.5px;">
            <img class="img" src="//cadence-workdo.myshopify.com/cdn/shop/files/category-3.png?v=1717673814" alt="zoom effect" loading="lazy">
            <!-- bouton -->
            <div class="category-btn">
                <a href="/collections/jar-candle" class="btn btn-white">
                      Geomatric Candles      
                </a>
            </div>
        </div>
        <div class="image" style="height: 50%;padding-top: 7.5px;">
            <img class="img"src="//cadence-workdo.myshopify.com/cdn/shop/files/category-4.png?v=1717673813" alt="zoom effect" loading="lazy">
            <!-- bouton -->
            <div class="category-btn">
                <a href="/collections/jar-candle" class="btn btn-white">
                      Ceramic Candle      
                </a>
            </div>
        </div>
    </div>
</div>
</div>